<%- include ("partials/header"); -%>
<div class="container">
<div class="card" style="width: 25rem;">
    <div class="card-body detail">
      <h4 class="card-title" style="text-align: center"> <%=individual.fname%> <%=individual.lname%></h4>
      <p class="card-text"> Acc Number: <%=individual.acc_num%>  </p>
      <p class="card-text"> Address: <%=individual.addr%> </p>
      <p class="card-text"> Email: abcd@gmail.com </p>
      <p class="card-text">Current Balance: <%=individual.currBal%> </p>
      
   
     
    </div>
  </div>
  </div>




<%- include("partials/footer") -%>